{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Log</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!--Static navbar-->
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'learning_logs:index' %}">Learning Log</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" 
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {%if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'learning_logs:topics' %}">Topics</a>
                    </li>
                    {%endif%}
                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link disabled" href="#">Hello, {{ user.username }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Log out</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Log in</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </nav>

    <div class="container">
        <div class="page-header">
            {% block header %}
            {% endblock header %}
        </div>
        <div>
            {% block content %}
            {% endblock content %}
        
        </div>
    </div><!--/container-->
    </body>

</html>